# Introducción a Pandas

Permite analizar y manipular(limpiar y preparar) conjuntos de datos.

## Importar paquetes

In [40]:
import numpy as np
import pandas as pd
from numpy.random import rand

## Introducción a estructuras de datos en pandas

### DataFrame
Estructura de datos de 2 dimensiones con columnas que pueden ser diferentes tipos de datos.

In [41]:
np.random.seed(101)

In [95]:
df = pd.DataFrame(rand(3,5),['r_0','r_1','r_2'],['c_0','c_1','c_2','c_3','c_4'])
df

        c_0       c_1       c_2       c_3       c_4   ID
0  0.913154  0.807920  0.402998  0.357224  0.952877  1.0
1  0.343632  0.865100  0.830278  0.538161  0.922469  2.0
2  0.097146  0.102847  0.701507  0.890480  0.159560  3.0
3  0.500000  0.400000  0.300000  0.200000  0.100000  4.0

In [45]:
type(df['c_0'])

pandas.core.series.Series

## Seleccionar Columnas

In [46]:
#Columns
df['c_3']

r_0    0.357224
r_1    0.538161
r_2    0.890480
Name: c_3, dtype: float64

In [48]:
df[['c_1','c_3']]

          c_1       c_3
r_0  0.807920  0.357224
r_1  0.865100  0.538161
r_2  0.102847  0.890480

In [66]:
 df['new']=df['c_0']+1

In [67]:
df

          c_0       c_1       c_2       c_3       c_4       new
r_0  0.913154  0.807920  0.402998  0.357224  0.952877  1.913154
r_1  0.343632  0.865100  0.830278  0.538161  0.922469  1.343632
r_2  0.097146  0.102847  0.701507  0.890480  0.159560  1.097146

## Agregar Filas y Columnas

In [112]:
df

          c_0       c_1       c_2       c_3       c_4
ID
1.0  0.913154  0.807920  0.402998  0.357224  0.952877
2.0  0.343632  0.865100  0.830278  0.538161  0.922469
3.0  0.097146  0.102847  0.701507  0.890480  0.159560
5.0  1.000000  0.900000  0.800000  0.700000  0.600000

In [107]:
id=[1,2,3]

In [108]:
df['ID']=id
df

ValueError: Length of values does not match length of index

In [113]:
df.set_index(['ID'],inplace=True)

KeyError: "['ID']"

In [100]:
df.append({'c_0' : 0.5 , 'c_1' : 0.4,'c_2' : 0.3 , 'c_3' : 0.2,'c_4': 0.1,'ID':4} , ignore_index=True)

        c_0       c_1       c_2       c_3       c_4   ID
0  0.913154  0.807920  0.402998  0.357224  0.952877  1.0
1  0.343632  0.865100  0.830278  0.538161  0.922469  2.0
2  0.097146  0.102847  0.701507  0.890480  0.159560  3.0
3  0.500000  0.400000  0.300000  0.200000  0.100000  4.0

In [103]:
df.loc['r_3']=[1,.9,.8,.7,.6,5]
df

          c_0       c_1       c_2       c_3       c_4   ID
r_0  0.913154  0.807920  0.402998  0.357224  0.952877  1.0
r_1  0.343632  0.865100  0.830278  0.538161  0.922469  2.0
r_2  0.097146  0.102847  0.701507  0.890480  0.159560  3.0
r_3  1.000000  0.900000  0.800000  0.700000  0.600000  5.0

## Eliminar Columnas

In [69]:
df

          c_0       c_1       c_2       c_3       c_4       new
r_0  0.913154  0.807920  0.402998  0.357224  0.952877  1.913154
r_1  0.343632  0.865100  0.830278  0.538161  0.922469  1.343632
r_2  0.097146  0.102847  0.701507  0.890480  0.159560  1.097146

In [70]:
df.drop('new',axis=1,inplace = True)

In [71]:
df

          c_0       c_1       c_2       c_3       c_4
r_0  0.913154  0.807920  0.402998  0.357224  0.952877
r_1  0.343632  0.865100  0.830278  0.538161  0.922469
r_2  0.097146  0.102847  0.701507  0.890480  0.159560

In [72]:
df.shape

(3, 5)

## Seleccionar Filas

In [74]:
df.loc['r_1']

c_0    0.343632
c_1    0.865100
c_2    0.830278
c_3    0.538161
c_4    0.922469
Name: r_1, dtype: float64

In [75]:
df.iloc[1]

c_0    0.343632
c_1    0.865100
c_2    0.830278
c_3    0.538161
c_4    0.922469
Name: r_1, dtype: float64

## Seleccionar subconjuntos del DataFrame

In [76]:
df.loc['r_0','c_3']

0.35722434282078785

In [78]:
df.loc[['r_0','r_1'],['c_0','c_3']]

          c_0       c_3
r_0  0.913154  0.357224
r_1  0.343632  0.538161

In [84]:
df.iloc[:,1:3]

          c_1       c_2
r_0  0.807920  0.402998
r_1  0.865100  0.830278
r_2  0.102847  0.701507

# Ejemplo con Iris DataSet

In [120]:
iris = pd.read_csv('Data/iris.csv')

In [121]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [122]:
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width         species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [124]:
iris.assign(sepal_ratio=iris['sepal_width'] / iris['sepal_length']).head()

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio
0,5.1,3.5,1.4,0.2,Iris-setosa,0.686275
1,4.9,3.0,1.4,0.2,Iris-setosa,0.612245
2,4.7,3.2,1.3,0.2,Iris-setosa,0.680851
3,4.6,3.1,1.5,0.2,Iris-setosa,0.673913
4,5.0,3.6,1.4,0.2,Iris-setosa,0.720000